version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:8000
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./rag-backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - app-network
    env_file:
    - rag-backend/.env

networks:
  app-network:
    driver: bridge
