version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./rag-backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - app-network
    env_file:
    - rag-backend/.env

networks:
  app-network:
    driver: bridge
